{{ define "main" }}

  {{ .Content }}

  {{ range .Pages }}
    <ul class="tips">
      <li>
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        <time>{{ .Date.Format "Mon, Jan 2, 2006" }}</time>
      </li>  
    </ul>
  {{ end }}

{{ end }}
