<footer id="footer" class="overline">
  <h2 class="hidden">About this website</h2>
  
  <p>
    The <a href="https://gitlab.com/dannycolin/dannycolin.com">source code</a> 
    for this site is licensed under 
    <a href="https://www.gnu.org/licenses/agpl-3.0.txt">AGPLv3</a>. Unless 
    otherwise stated, 
    the content of this site is licensed under 
    <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC-BY-SA 4.0</a>. 
  </p>
</footer>
